.FollowingCard-container{
    width:500px;
    display:flex;
    margin:50px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 15px 0px;
    border-radius: 10px;
    box-sizing:border-box;       
}
.FollowingCard-link{
    width:100%;
}
.FollowingCard-content{
    display: flex;
    flex-direction: row;
    gap:50px;
    border-top: 2px solid rgb(67, 173, 122);
}
.FollowingCard-image{
    width:100%;
    
}
.FollowingCard-image img{
  
   
}
.FollowingCard-info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:25px
}
.FollowingCard-name{
    margin-top: 5px;
    font-size: 24px;
}
.FollowingCard-author{
    margin-top: -15px;
    font-size: 14px;
}
.FollowingCard-genre{
    margin-top: 20px;
    font-size: 16px;
}

.FollowingCard-description{
    margin-top: 10px;
}
.FollowingCard-review{
    font-weight: 600;

}
.owner{
    padding:10px;
    display: flex;
    justify-content: space-between;
}
.like-icon{
    color:red;
}
.like{
    padding:10px;
    border-top: 2px solid rgb(67, 173, 122);
}