.BookCard-container{
    width:500px;
    display:flex;
    margin:50px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 15px 0px;
    border-radius: 10px;
    box-sizing:border-box;       
}
.BookCard-container:hover{
    transform: scale(1.05, 1.05);
}
.BookCard-link{
    width:100%;
}
.BookCard-content{
    display: flex;
    flex-direction: row;
    gap:50px;
    border-top: 2px solid  rgb(115, 115, 189);

}
/* .BookCard-image{
    width:100%;
    
} */

.BookCard-info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:25px
}
.BookCard-name{
    margin-top: 5px;
    font-size: 24px;
}
.BookCard-author{
    margin-top: -15px;
    font-size: 14px;
}
.BookCard-genre{
    margin-top: 20px;
    font-size: 16px;
}

.BookCard-description{
    margin-top: 10px;
}
.BookCard-review{
    font-weight: 600;

}
.btnFollow{
    background-color: rgb(115, 115, 189);
    padding:5px;
    font-size: 14px;;
    border-radius: 8px;
    margin-left: 20px;
    color:white;
}
.btnFollow:hover{
    background-color: black;

}
.like-icon{
    color:red;
}
.likes{
    padding:10px;
    border-top: 2px solid  rgb(115, 115, 189);
}
.following{
    background-color:rgb(71, 182, 115);
}