.books-container{
    overflow-y: scroll;
    margin-top: 15px;
    flex-wrap: wrap;
    max-width: 520px;
   
}
.books-search{
    gap:30px;
}
.top-search{
    height:40px;
    margin-top: 10px;
}
.search input{
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    outline-style: none;
    outline-color:rgb(45, 51, 58);
    border-color:rgb(194, 200, 208);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color:rgb(45, 51, 58);
    outline-color:rgb(45, 51, 58);
    outline-style: none;
    width: 90%;
}
.search input:focus{
    border-color:var(--color-primary);
}
.header{
    margin-top:10px;
    background-color: rgb(255, 255, 255);
    padding:10px;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-right: 0px;
    margin-left: 20px;
}
.row{
    padding-top: 0px;
    gap:50px;
}
